{
  "root": true,
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": [
    "eslint-config-bondarenko-style/recommended"
  ],
  "rules": {
    "max-len": [
      "warn",
      {
        "code": 150,
        "ignoreUrls": true,
        "ignoreRegExpLiterals": true
      }
    ]
  }
}
